<h1>Create a New Tripod</h1>
<br>
<br>
<form method="post" action="/tripods">
<label>Tripod Name: </label>
<input type="text" name="tripod[name]">
<br>
<br>
<label>Tripod Brand: </label>
<input type="text" name="tripod[brand]">
<br>
<br>
<label>Tripod Length: </label>
<input type="text" name="tripod[length">
<br>
<br>
<input type="submit" value="Create New Tripod">
</form>