<h1>Create a New Camera Body</h1>
<br>
<br>
<form method="post" action="/bodies">
<label>Body Name: </label>
<input type="text" name="body[name]">
<br>
<br>
<label>Body Brand: </label>
<input type="text" name="body[brand]">
<br>
<br>
<label>Body Sensor Size: </label>
<input type="text" name="body[sensor_size]">
<br>
<br>
<input type="submit" value="Create New Camera Body">
</form>