<h1>Create a New Lens</h1>
<br>
<br>
<form method="post" action="/lens">
<label>Lens Brand: </label>
<input type="text" name="lens[brand]">
<br>
<br>
<label>Lens Mount: </label>
<input type="text" name="lens[mount]">
<br>
<br>
<label>Lens Focal Length:</label>
<input type="text" name="lens[focal_length]">
<br>
<br>
<input type="submit" value="Create New Lens">
</form>