<h1>Please Login Below</h1>
<div id="login_form">
<form method="POST" action="/login">
<label>Username:</label>
<input type="text" name="username"/>
<label>Password:</label>
<input type="text" name="password"/>
<br>
<br>
<input type="submit" value="Login" id="login_button">
</form>
</div>