<h1 id="user_greeting">Hello <%=@user.username%></h1>
<h2>Please select from the options below</h2>
<br>
<br>
<h3><a href='/users/<%="#{@user.id}"%>/bags'>Click Here for Your Bags</a></h3>
<br>
<br>
<h3><a href='/users/<%="#{@user.id}"%>/gear'>Click Here for Your Gear</a></h3>
<br>
<br>
<form method="post" action="/logout">
<input type="submit" value="Log Out">
</form>