<h1 id="signup_heading">Sign Up Below</h1>
<br>
<form method="POST" action="/signup" id="sign_up_form">
<label>Username:</label>
<input type="text" name="username"/>
<label>Password:</label>
<input type="text" name="password">
<br>
<br>
<input type="submit" value="Sign-Up" id="signup_button">
</form>